*{
    margin: 0;
}

.container{
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: aqua;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.expense-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
}

.expense-list::-webkit-scrollbar {
    display: none;
}


.display-section{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1rem;
}

.expense-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.button-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-expense{
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 10px 10px 0 black;
}

