li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:cadetblue;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

.btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

p{
    font-size: 1.5rem;
    font-weight: 800;
}

